<div class="hero-unit">
<h1>Welcome to One Month Rails!</h1>
<p>
	You've found the homepage for the 
	<%=link_to "One Month Rails", "http://onemonthrails.com"%> </a> application. 
</p>
<p> 
	<%=link_to "Sign up now" , "#", class: "btn btn-primary btn-large" %></a>
</div>
	